<div class="container">
    <h2 class="mid">A glimpse of Placement preparation guide</h2>

    <p>There's help from every where, the only thing you should know is how to google things and how to make use of social platforms to get answer for your questions

    </p>

    <h3>Placements</h3>
    <p><b>On-campus: </b>
        These campus placements are arranged by your college who invite all the best possible companies to recruit from their students.</p>
    <p><b>Off-campus:</b>
        Off-campus placement is when you get placed at a company without your college being involved in the process. In case of off-campus placements,
        you need to directly send job applications to the companies that you wish to join.
    </p>

    <h3>On-campus</h3>
    <p><b>Product based companies: </b>
        The product-based companies are those companies which deal with a tangible product.
        A tangible product is a product which we can see or touch.<br>
        eg: Apple provides the cell phones iPad iPod MacBook <br> Google provides Gmail Google Drive Google map, etc.
    </p>
    <p><b>Service based companies: </b>
        The service offered by the company is intangible and can be provided in the form of skills, amenities, and expertise
        It gives software solutions to other companies.<br>
        eg: Tata Consultancy Services, Wipro, Cognizant, Infosys etc.
        <br><small>**search on YouTube or google to get cleared about the difference between them</small>
    </p>

    <h3>Service based companies</h3>
    <p>The no.of rounds and type of rounds may be different from company to company. But there are mainly two parts<br>
        <b>Written test: </b>This includes aptitude and coding<br>
        <b>Interview: </b> You can check about this in home page 
    </p>
    <p><b>How to crack written text? 🤔</b> <br>
    In case of aptitude, There is no short-cut other than practice because here not only solving the question but the time to solve
    that question is also important. But you can be smart too but with out minimum practice that may not work out.
    You can refer to particular company previous year questions. Just google it no.of sources can be found and also check the topics
    which are mostly asked and learn that topics with the help of YouTube and most importently if it's possible maintain short notes 
    and write down important formulas or tricks, that can save you a lot of time while preparing for other companies.
    <br>Some YouTube channels for aptitude<br>
    <li><a href="https://www.youtube.com/watch?v=tnc9ojITRg4&list=PLpyc33gOcbVA4qXMoQ5vmhefTruk5t9lt"><b>CareerRide</b></a></li>
    <li><b>IndiaBix</b> website</li>
    You can explore different channels and sites and follow the content which suits you
    <br>
    <br>
    Coming to coding questions, Here also practice is most important thing. Without practice you may not find the logic to solve that 
    particular question. If it's a service based company with less than 3.8LPA package most of the questions will be based on arrays or strings 
    or will be based on prime/factorial/fibinocci etc...But if you want to crack high package along with them you should be strong at
    Data structures and algorithems.
    <br>Some YouTube channels to learn DSA<br>
    <li><a href="https://www.youtube.com/c/takeUforward/playlists">take U farward</a></li>
    <li><a href="https://www.youtube.com/watch?v=N89PN_uyelU&list=PLUcsbZa0qzu3yNzzAxgvSgRobdUUJvz7p">Anuj Bhaiya</a></li>
    <li><a href="https://www.youtube.com/watch?v=4iFALQ1ACdA">Love Babbar DSA450 sheet</a> - checkout this almost all variations of questions topic wise are covered.</li>
    **And there are various channels out there, subscribe them in YouTube and checkout their playlists. They mostly talk about campus placements
    and gives information about off campus placements too.
    <br>Some sites to practice DSA:
    <li><a href="https://leetcode.com/">leetcode</a></li>
    <li><a href="https://www.hackerrank.com/">hackerrank</a></li>
    <li><a href="https://www.geeksforgeeks.org/">geeksforgeeks</a></li>
    <li><a href="https://www.codechef.com/">codechef</a></li>
    At the starting you may feel difficult to solve but don't leave just try again and again, If you are unable to solve the question
    you can go to discussion forum and ask there or else you can check that question in YouTube or Google and understand the solution.
    <br>
    **You can also check the company specific questions i.e Previously asked questions in that particular company, just google it you can find them and
    try to solve them.
    </p> 

    <h3>Interview preparation</h3>
    <p>In interviews things you mentioned in resume,communication,computer fundamental topics such as DBMS,SQL,Oops,Operating Systems,basics of CN, DSA(for some companies) and 
        your projects plays the major role. 
        <li>Prepare your resume well, check the resume preparation videos on YouTube</li>
        <li>You should be aware of everything you mentioned in resume</li>
        <li>check out top 50 interview questions on CS fundamental topics like DBMS,sql quaries,Oops,Os and skills you mentioned in resume </li>
        <li>Project is one of the most important thing </li>
        <li>Do mock interviews with friends to improve your communication and building confidence</li> 
        <li>check out previous interview questions in geeksforgeeks and also home page of this website</li>
    </p>

    <h3>Off-campus</h3>
    <li>keep following the YouTube channels which give up to date infoemation about off campus placements</li>
    <li>keep checking the company websites and apply</li>
    <li>update your resume as per company requirement</li>
    <li>make good connections in linkedIn and take advice from the company employees</li>
    <li>For off-campus and product based companies you should be super good in DSA so keep practicing DSA</li>
    <li>what kind of projects I can keep in resume? <a href="https://youtu.be/s5yZAsY174c">click here</a></li>
</div>











