<div>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
      <b>shareExp</b>
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pl-4">
          <a routerLink="expList" class="nav-link" routerLinkActive="active">Home</a>
        </li>
  
        <li class="nav-item pl-4">
          <a routerLink="addExp" class="nav-link" routerLinkActive="active">add</a>
        </li>

        <li class="nav-item pl-4">
          <a routerLink="placementPrep" class="nav-link" routerLinkActive="active">placementPrep</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- container margin top - 3 -->
  <div class="conatainer mt-3 containerWidth"> 
    <router-outlet></router-outlet>
  </div>

</div>
